#counter_container{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    span{
    font-size: 1.5rem;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}