// MAIN STYLES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 34%, rgba(7,46,145,1) 51%, rgba(0,212,255,1) 100%);
}
main{
    margin: 5%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: rgba(216, 216, 216, 0.356);
    box-shadow: 17px 20px 17px -9px rgba(0,0,0,0.44);
    -webkit-box-shadow: 17px 20px 17px -9px rgba(0,0,0,0.44);
    -moz-box-shadow: 17px 20px 17px -9px rgba(0,0,0,0.44);
    P{
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        color: white;
        margin: 5px;
        text-align: center;
    }
    hr{
        margin-top: 15px;
        width: 20%;
        color: rgb(163, 163, 163)
    }
    #btns{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .btn_box{
            @extend %btn;
        }
    }
}


