#result_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    h2{
        margin-top: 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        color: white;
    }
    #round{
        color:  rgb(0, 204, 255);
    }
    #result_container{
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100px;
        p{
            font-size: 1.5rem;
            font-family: 'Roboto', sans-serif;
        }
        .result_box{
            display: flex;
            flex-direction: column;
            align-items: center;
            .rock_result{
                background-image: url('../assets/rock.png');
                background-size: contain;
                background-repeat: no-repeat;
                width: 65px;
                height: 80px;
            }
            .paper_result{
                background-image: url(/assets/paper.png);
                background-size: contain;
                background-repeat: no-repeat;
                width: 80px;
                height: 80px;
            }
            .scissors_result{
                background-image: url(/assets/scissors.png);
                background-size: contain;
                background-repeat: no-repeat;
                width: 80px;
                height: 80px;
            }
            i{
                margin-top: 5px;
                color: white;
                font-size: 3rem;
            }

            .score{
                color: white;
                font-size: 3rem;
                font-family: 'Roboto', sans-serif;
                margin-bottom: 20px;
            }
        }
        #vs_winner_text_box{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 50px;
                margin-bottom: 50px;
            }
            #vs_box{
                font-size: 1rem;
                color: white;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
}