
#start_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    #options_container{
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;   
    }
  
}

.rock{
    background-color: blue;
    @extend %option_box;
    color: white;
   }

   .paper{
    background-color: red;
    @extend %option_box;
    color: white;
   }

   .scissors{
    background-color: green;
    @extend %option_box;
    color: white;
   }

