
#start_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    #options_container{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;   
    }
  
}

.rock{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 204, 255);
    &:hover{
        cursor: pointer;
    }
    img{
        width: 65px;
        margin-top: 15px;
    }
   }

   .paper{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 204, 255);
    &:hover{
        cursor: pointer;
    }
    img{
        width:80px;
        margin-top: 15px;
    }
   }

   .scissors{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 204, 255);
    &:hover{
        cursor: pointer;
    }
    img{
        width:80px;
        margin-top: 15px;
    }
   }

